.multiLineLabel {
  /* display: inline-block;
  box-sizing: border-box;
  white-space: pre-line;
  word-wrap: break-word;
  padding-bottom: 8px; */
}

.multiLineLabel .textMaxLine {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* fallbacks */
  line-height: 1.5em;
}

.textMaxLine::after {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: inherit;
  top: 90%;
  left: 0;
  z-index: 1;
  background: red;
}

/* Only for DEMO */

.multiLineLabel.maxWidth {
  width: 100px;
}
